cv2==4.6.0
flickrapi==2.4.0
matplotlib==3.5.3
numpy==1.22.4
pandas==1.4.3
requests==2.28.1
seaborn==0.11.2
session_info==1.0.0
OpenSSL==22.0.0
PIL==9.2.0
appnope==0.1.3
asttokens==NA
backcall==0.2.0
beta_ufunc==NA
binom_ufunc==NA
brotli==NA
certifi==2022.09.24
cffi==1.15.1
charset_normalizer2.1.1
cloudpickle==2.1.0
colorama==0.4.5
cryptography==37.0.4
cycler==0.10.0
cython_runtime==NA
dateutil==2.8.2
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
executing==0.10.0
google==NA
hypergeom_ufunc==NA
idna==3.3
importlib_metadataNA
ipykernel==6.15.1
ipython_genutils==0.2.0
ipywidgets==8.0.1
jedi==0.18.1
kiwisolver==1.4.4
mpl_toolkits==NA
nbinom_ufunc==NA
ncf_ufunc==NA
oauthlib==3.2.0
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pkg_resources==NA
prompt_toolkit==3.0.30
psutil==5.9.1
ptyprocess==0.7.0
pure_eval==0.2.2
pyarrow==10.0.1
pydev_ipython==NA
pydevconsole==NA
pydevd==2.8.0
pydevd_file_utils==NA
pydevd_plugins==NA
pydevd_tracing==NA
pygments==2.13.0
pyparsing==3.0.9
pytz==2022.2.1
requests_oauthlib==1.3.1
requests_toolbelt==0.9.1
scipy==1.9.0
setuptools==65.3.0
six==1.16.0
socks==1.7.1
stack_data==0.5.0
tornado==6.2
traitlets==5.3.0
typing_extensions==NA
unicodedata2==NA
urllib3==1.26.11
wcwidth==0.2.5
zipp==NA
zmq==23.2.1
-----
IPython==8.4.0
jupyter_client==7.3.5
jupyter_core==4.11.1
notebook==6.4.12
PIL==9.2.0
cv2==4.6.0
keras==2.9.0
matplotlib==3.5.3
numpy==1.22.4
pandas==1.4.3
requests==2.28.1
seaborn==0.11.2
session_info==1.0.0
sklearn==1.1.2
spacy==3.4.3
tensorflow==2.9.2
transformers==4.24.0
OpenSSL==22.0.0
absl==NA
appnope==0.1.3
asttokens==NA
astunparse==1.6.3
backcall==0.2.0
beta_ufunc==NA
binom_ufunc==NA
blis==NA
boto3==1.24.61
botocore==1.27.61
brotli==NA
catalogue==NA
certifi==2022.09.24
cffi==1.15.1
charset_normalizer==2.1.1
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.5
confection==NA
cryptography==37.0.4
cycler==0.10.0
cymem==NA
cython_runtime==NA
dateutil==2.8.2
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
entrypoints==0.4
executing==0.10.0
filelock==3.8.0
flatbuffers==NA
fsspec==2022.11.0
gast==NA
google==NA
h5py==3.6.0
huggingface_hub==0.11.0
hypergeom_ufunc==NA
idna==3.3
importlib_metadata==NA
ipykernel==6.15.1
ipython_genutils==0.2.0
ipywidgets==8.0.1
jedi==0.18.1
jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
kiwisolver==1.4.4
langcodes==NA
markupsafe==2.1.1
mpl_toolkits==NA
mpmath==1.2.1
murmurhash==NA
nbinom_ufunc==NA
ncf_ufunc==NA
opt_einsum==v3.3.0
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pkg_resources==NA
preshed==NA
prompt_toolkit==3.0.30
psutil==5.9.1
ptyprocess==0.7.0
pure_eval==0.2.2
pyarrow==10.0.1
pydantic==1.10.2
pydev_ipython==NA
pydevconsole==NA
pydevd==2.8.0
pydevd_file_utils==NA
pydevd_plugins==NA
pydevd_tracing==NA
pygments==2.13.0
pyparsing==3.0.9
pytz==2022.2.1
scipy==1.9.0
setuptools==65.3.0
six==1.16.0
socks==1.7.1
srsly==2.4.5
stack_data==0.5.0
sympy==1.11.1
tensorboard==2.9.1
termcolor==1.1.0
thinc==8.1.5
threadpoolctl==3.1.0
tokenizers==0.13.2
torch==1.14.0.dev20221201
tornado==6.2
torch==1.13.0
transformers==4.24.0
tqdm==4.64.0
traitlets==5.3.0
typer==0.7.0
typing_extensions==NA
unicodedata2==NA
urllib3==1.26.11
wasabi==0.10.1
wcwidth==0.2.5
wrapt==1.14.1
yaml==6.0
zipp==NA
zmq==23.2.1
torch==1.14.0.dev20221201
transformers==4.24.0
absl==NA
aiohttp==3.8.3
aiosignal==1.3.1
appnope==0.1.3
asttokens==NA
astunparse==1.6.3
async_timeout==4.0.2
attr==22.1.0
backcall==0.2.0
beta_ufunc==NA
binom_ufunc==NA
boto3==1.24.61
botocore==1.27.61
brotli==NA
certifi==2022.09.24
cffi==1.15.1
charset_normalizer==2.1.1
cloudpickle==2.1.0
colorama==0.4.5
cryptography==37.0.4
cycler==0.10.0
cython_runtime==NA
dateutil==2.8.2
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
entrypoints==0.4
executing==0.10.0
filelock==3.8.0
flatbuffers==NA
frozenlist==1.3.3
fsspec==2022.11.0
gast==NA
google==NA
h5py==3.6.0
huggingface_hub==0.11.0
hypergeom_ufunc==NA
idna==3.3
importlib_metadata==NA
ipykernel==6.15.1
ipython_genutils==0.2.0
ipywidgets==8.0.1
jedi==0.18.1
jmespath==1.0.1
joblib==1.1.0
keras==2.9.0
kiwisolver==1.4.4
mpl_toolkits==NA
mpmath==1.2.1
multidict==6.0.2
multiprocess==0.70.14
nbinom_ufunc==NA
ncf_ufunc==NA
opt_einsum==v3.3.0
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pkg_resources==NA
prompt_toolkit==3.0.30
psutil==5.9.1
ptyprocess==0.7.0
pure_eval==0.2.2
pyarrow==10.0.1
pydev_ipython==NA
pydevconsole==NA
pydevd==2.8.0
pydevd_file_utils==NA
pydevd_plugins==NA
pydevd_tracing==NA
pygments==2.13.0
pyparsing==3.0.9
pytz==2022.2.1
scipy==1.9.0
setuptools==65.3.0
six==1.16.0
socks==1.7.1
stack_data==0.5.0
sympy==1.11.1
tensorboard==2.9.1
tensorflow==2.9.2
termcolor==1.1.0
threadpoolctl==3.1.0
tokenizers==0.13.2
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
typing_extensions==NA
unicodedata2==NA
urllib3==1.26.11
wcwidth==0.2.5
wrapt==1.14.1
xxhash==NA
yaml==6.0
yarl==1.8.1
zipp==NA
zmq==23.2.1
